<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/dist/styles/style.min.css' />
    </head>
    <body>
        <header>
            <img src="/dist/img/logo.svg">
            <nav>
                <ul class="nav-items">
                    <li><i class="menu-sprite home"></i><a href="/">Home</a></li>
                    <li><i class="menu-sprite latest"></i><a href="https://looklive.com/discover/">Latest</a></li>
                    <li><i class="menu-sprite people"></i><a href="https://looklive.com/people/">People</a></li>
                    <li><i class="menu-sprite shows"></i><a href="https://looklive.com/shows/">Shows</a></li>
                    <li><i class="menu-sprite music"></i><a href="https://looklive.com/music/" >Music</a></li>
                    <li><i class="menu-sprite brands"></i><a href="https://looklive.com/brands/">Brands</a></li>
                </ul>
            </nav>
             <img src="/dist/img/header-small.jpg" srcset="/dist/img/header-small.jpg 480w, /dist/img/header-medium.jpg 960w, /dist/img/header-large.jpg 1920w" alt="House of Cards">
        </header>
        <main>
         {{{body}}}
        </main>
    </body>

    <script src="/dist/js/all.min.js"></script>
</html>
