<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <script src="/js/jquery.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <header>
            <img src="/images/logo.svg">
            <nav>
                <ul class="nav-items">
                    <li><a href="/" class="menu-sprite home">Home</a></li>
                    <li><a href="https://looklive.com/discover/" class="menu-sprite latest">Latest</a></li>
                    <li><a href="https://looklive.com/people/" class="menu-sprite people">People</a></li>
                    <li><a href="https://looklive.com/shows/" class="menu-sprite shows">Shows</a></li>
                    <li><a href="https://looklive.com/music/" class="menu-sprite music">Music</a></li>
                    <li><a href="https://looklive.com/brands/" class="menu-sprite brands">Brands</a></li>
                </ul>
            </nav>
            <img src="/images/header.png" class="header-img">
        </header>
        <main>
         {{{body}}}
        </main>
    </body>
</html>
