<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <script src="/js/jquery.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <header>
            <img src="/images/logo.svg">
            <nav>
                <ul class="nav-items">
                    <li><a href="/"><img src="/icons/svg/home.svg" class="nav-items-icon">Home</a></li>
                    <li><a href="https://looklive.com/discover/"><img src="/icons/svg/latest.svg" class="nav-items-icon">Latest</a></li>
                    <li><a href="https://looklive.com/people/"><img src="/icons/svg/people.svg" class="nav-items-icon">People</a></li>
                    <li><a href="https://looklive.com/shows/"><img src="/icons/svg/shows.svg" class="nav-items-icon">Shows</a></li>
                    <li><a href="https://looklive.com/music/"><img src="/icons/svg/music.svg" class="nav-items-icon">Music</a></li>
                    <li><a href="https://looklive.com/brands/"><img src="/icons/svg/brands.svg" class="nav-items-icon">Brands</a></li>
                </ul>
            </nav>
            <img src="/images/header.png" class="header-img">
        </header>
        <main>
         {{{body}}}
        </main>
    </body>
</html>
