/* general */
body {
    font: 14px Raleway, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

body a {
    color: #00B7FF;
}

h1 {
    font-size: 21px;
    border-bottom: none;
}

h2 {
    font-size: 16px;
}


/* header */
header {
    background-color: #252525;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    height: 60vh;
    overflow: hidden;
}

.nav-items{
    margin: 0;
}

li {
    display: inline-block;
    height: 100%;
    list-style: none;
    line-height: 30px;
    margin: 0;
    margin-right: 15px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: #d84a4a;
}

.nav-items-icon {
    height: 1em;
    position: relative;
    margin-right: .3em;
    top: 2px;
}

.header-img {
    width: 100%;
}


/* main */
main {
    padding: 3.125em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feed-item {
    width: 300px;
    height: 600px;
    margin: .5em;
}

.feed-item img {
    max-width: 100%;
}

.feed-item h1 {
    margin-top: 0;
}

.feed-item h2, .appearance h2{
    margin-bottom: .5em;
}


/* appearance */

.avatar {
    width: 2em;
    height: 2em;
    margin-right: .5em;
    border-radius: 50%;
}

/*appearance */

.appearance {
    width: 100%;
    display: flex;
    justify-content: center;
}

.appearance-left {
    width: 400px;
    height: 600px;
    margin-right: 2em;
    position: relative;
}

.appearance-right > h2 {
    font-size: 21px;
}

.appearance-products-inner {
    width: 400px;
    position: relative;
    overflow: hidden;
    height: 700px;
}

.product {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition: left .3s;
}

.product-active {
    transform: translateX(0);
}

.product-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00B7FF;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.product-indicator-active {
    background-color: #b4da55;
}

.appearance-products h1 {
    color: #333;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

.actual, .similar {
    display: -webkit-flex;
    display: flex;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

.image {
    width: 200px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 1em;
}

.image img{
    width: 100%;
}

.similar .image {
    width: 150px;
}

.image h1 {
    margin: .5em 0;
    color: #333;
    font-size: 16px;
}

.info h1 {
    margin: 1.5em 0 .5em 0;
}

.info h2 {
    margin: 1em 0;
}

.appearance-left img {
    width: 100%;
}